@font-face {
  src: url("../font/emulogic.ttf");
  font-family: "arcade font";
}

.hide
{
  display: none;
}

div.game-window
{
  width: 900px;
  height: 600px;
  margin: 1em auto;
  background-color: #62225c;
  border:black solid 2px;
  position: relative;
}

.screen-title
{
  width: 100%;
  margin-top: 1em;
  font-family: "arcade font";
  text-align: center;
  color: #0077cc;
  font-size: 3em;
  text-shadow: black 10px 10px 20px;
  transition: opacity 2s;
  position: absolute;
  top: 5%;
}

@keyframes flashes {
  from { opacity : 1;   }
  to   { opacity : 0; }
}
.slow-flashes
{
  animation-name: flashes;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.fast-flashes
{
  animation-name: flashes;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.screen-message
{
  width: 100%;
  font-family: "arcade font";
  text-align: center;
  color: white;
  font-size: 1.8em;
  transition: opacity 2s;
  position: absolute;
  top: 45%;
}
.important-message
{
  color: #0077cc;
}
.ship-state
{
  display: flex;
  flex-direction: column;
  font-family: "arcade font";
  width: 190px;
  font-size: .8em;
  position: absolute;
  top:-2px;
  left: -204px;
  border:black solid 2px;
  background-color: #62225c;
  color: white;
  padding: 5px;
}

.ship-state label
{
  margin-right: 1em;
}

div.health-container,
div.shadow-container,
div.laser-speed-container
{
  display: flex;
  align-items: center;
  padding: .5em;
}

div#health,
div#shadow_form,
div#laser_speed
{
  display: flex;
  height: 20px;
  border: black solid 2px;
}

div#shadow_form
{
  width: 80px;
}
div#health
{
  width: 60px;
}
div#laser_speed
{
  width: 48px;
  font-size: 0;
}

div.laser-speed-container label
{
  margin-right: 2em;
}

.health-bar
{
  background-color: red;
  width: 20px;
  height: 20px;
  transition: opacity .2s;
}
.shadow-bar
{
  background-color: yellow;
  width: 8px;
  height: 20px;
  transition: opacity .2s;
}
.laser-div
{
  width: 12px;
  height: 20px;
  display: inline;
}
